/* Цвет основного текста #212121 */

/* Цвет второстепенного текста  #757575; */

/* шрифт лого Raleway. цвета лого #2196F3 и #000000 */

/* акцент #2196F3 */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --white-text: #ffffff;
    --button-filters-bg: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

body p {
    color: var(--primary-text-color);
}


.list {
    padding: 0;
    margin: 0;
    list-style: none;
}


.header {
    background-color: var(--primary-bg-color);
    
    
}


.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
    /* outline: 3px solid tomato; */
}

.header-nav {
    display: flex;
    align-items: center;
}

/* Logo */

.header-logo {
    padding-top: 24px;
    padding-bottom: 25px;

    
    color: #000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
        
    letter-spacing: 0.03em;
    /* margin-top: 24px; */
    margin-right: 93px;
    /* margin-left: 215px; */
  
}
.accent-logo {
    color: var(--accent-color);
}

.page-header a {
    text-decoration: none;
    background-color: var(--primary-bg-color);
}




/* Site nav */

.main-nav {
    display: flex;
    align-items: center;
}

.contacts-nav {
    display: flex;
    margin-left: auto;
}


.site-nav {
    display: flex;
    
}



.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    padding-top: 31px;
    padding-bottom: 31px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);

}

.page-header .link.current {
    color: var(--accent-color);
}

.site-nav li,
.contacts-nav li {
    list-style: none;


}




/* Contacts nav */

.contacts-nav {
    
    
}

/* .contacts-nav .item {
    margin-right: 30px;
} */

.contacts-nav .item + .item {
    margin-left: 30px;
}


.contacts-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}



.contacts-nav .link {
    color: var(--primary-text-color);
    
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--secondary-bg-color);
    text-align: center;
    margin-bottom: 94px;
    
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
        
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    
    
    
    


   
}

.title {
    margin-bottom: 10px;
}

.text {
    margin: 0;
}



/* Button */

.button {
    
    border: none;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    color: var(--white-text);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;
    min-width: 216px;
    text-align: center;
    margin-bottom: 200px;
    
    
   
}


.button-filter {
    cursor: pointer;
    background-color: var(--button-filters-bg);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
        
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--white-text);
    
}

.portfolio {
    color: var(--title-text-color);
}

/* Section */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
   
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.section {
    margin-bottom: 94px;
}

.section.team {
    margin-bottom: 0;
}


 

/* Features */

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .text {
    
    font-size: 14px;
    line-height: 1.71;
       
    letter-spacing: 0.03em;
}

.feature-list li {
    list-style: none;
}

/* Work List */

.work-list li {
    list-style: none;
}

/* Staff List */

.team {
    background-color: var(--button-filters-bg);
    padding-bottom: 94px;
}

.staff-list li {
    list-style: none;
}

.staff-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
        
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.staff-list .text {
    font-size: 16px;
    line-height: 1.18;
        
    letter-spacing: 0.03em;
}





/* Footer */

.footer-logo {
    display: inline-block;
    color: var(--white-text);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
       
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    
}

.page-footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer-nav .email
.footer-nav .phone {
    color: var(--footer-contacts-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
       
    letter-spacing: 0.03em;
    
   
    

}

.footer-nav a {
    text-decoration: none;
    
}

.footer-nav li {
    list-style: none;
    text-decoration: none;

}

.footer-nav .map {
    display: inline-block;
    color: var(--white-text);
    margin-bottom: 9px;
}

.footer-nav .phone,
.footer-nav .email {
    display: inline-block;
    color: var(--footer-contacts-color);
}

.footer-nav .email {
    margin-bottom: 9px;
}

/* .footer-nav .phone {
    margin-bottom: 60px;
} */

.filter-list li {
    list-style: none;

}

.filter-list {
    margin-top: 94px;
    margin-bottom: 34px;
}

.project-list li {
    list-style: none;
}

.project-list a {
    text-decoration: none;
    
}

/* .project-item {
    display: inline-block;
    margin: 0;
} */

.project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
        
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 0;
}

.project-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
        
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-bottom: 50px;
}

.page-footer a {
    text-decoration: none;
}

.page-footer {
    /* height: 252px; */
}

.address {
    font-style: normal;
}

.footer-nav .map:hover,
.footer-nav .map:focus {
    color: var(--accent-color);
}

.footer-nav .email:hover,
.footer-nav .email:focus {
    color: var(--accent-color);
}

.footer-nav .phone:hover,
.footer-nav .phone:focus {
    color: var(--accent-color);
}